#line-chart{
    background-color: rgb(55, 71, 79);
    width: 800px;
    height: 350px;
    font-family: Lato, Helvetica-Neue, monospace;
}
.ct-series-a .ct-line{
  stroke: #00a79d;
}
.ct-series-b .ct-line{
  stroke: #1c75bc;
}
.ct-series-c .ct-line{
  stroke: #92278f;
}
.ct-series-a .ct-point {
  stroke: #00a79d;
}
.ct-series-b .ct-point {
  stroke: #1c75bc;
}
.ct-series-c .ct-point {
  stroke: #92278f;
}
.ct-label{
  color: white;
}