{% extends 'base.html' %} {% block content %}


<header class="page-header" style="background-color:brown">
      <h2>Envelope</h2>

          
          </header>


<header class="panel-heading" style="background-color:rose">
	<div class="panel-actions">
		<a href="#" class="fa fa-caret-down"></a>
		<a href="#" class="fa fa-times"></a>
	</div>
						
	<h2 class="panel-title">Upload CSV</h2>
</header>
<div class="panel-body">
	<form class="form-horizontal form-bordered" method="get">
       
        <div class="form-group">
			<label class="col-md-3 control-label">Select Type of CSV </label>
			<div class="col-md-6">
				<select class="form-control mb-md" id="csvtype">
					<option value="">Select</option>
                    <option value="withtimebfc">Amplitude and Time</option>
                    
                    <option value="withouttimebfc">Amplitude</option>
                   
			    </select>
												
			</div>
		</div>
		{% comment %} <div class="form-group">
			<label class="col-md-3 control-label" for="inputDefault">Default</label>
				<div class="col-md-6">
					<input type="text" class="form-control" id="inputDefault">
				</div>
		</div> {% endcomment %}
    </form>
</div>

<div class="panel-body" style="display:none" id="withtimebfc">
   <form name="form" action="/csvapp/envelop_upload_csv/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
     {% csrf_token %} 
        <div class="form-group">
			<label class="col-md-3 control-label" for="inputSuccess">Select Type of Method </label>
			<div class="col-md-6">
				<select class="form-control mb-md" id="algo" name="algo">
					<option value="">Select</option>
                    <option value="hilbtrans">Hilbert Transform</option>
                    <option value="demod">Demodulation</option>
 
			    </select>
												
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-md-3 control-label">CSV File</label>
				<div class="col-md-6">
                    <input type="file" name="file1" id="filewt"  required="True" class="form-control">
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">RPM</label>
				<div class="col-md-6">
                    <input type="number" step=any name="rpm" id="rpm" required="True" class="form-control">
					
				</div>
		</div>
        <div class="form-group text-left" style="padding-left:200px">
            
            <input type="checkbox" id="modno" name="modno" value="modno" onchange="toggleCheckbox(this)">
            <label  for="modno">Model No</label> 
            



            <input type="checkbox" id="dim" name="dim" value="dim" onchange="toggleCheckbox1(this)">
            <label  for="dim">Other Dimensions</label>
        </div>
        <div class="form-group" id="showmodelno" style="display:none">
			<label class="col-md-3 control-label">ModelNo:</label>
				<div class="col-md-6">
                    {% comment %} <input type="text" name="modelno" id="modelno" required="false" class="form-control"> {% endcomment %}
					<select id="modelno" class="form-control" name="modelno" required="false">
                    <option value="">Select</option>
                    <option value="6205-2RS JEM SKF">6205-2RS JEM SKF</option>
                    <option value="6203-2RS JEM SKF">6203-2RS JEM SKF</option>
                    <option value="Rexnord 2115">Rexnord 2115</option>
                    <option value="61804-2RZ SKF">61804-2RZ SKF</option>
                    <option value="SKF 61804-2Z">SKF 61804-2Z</option>
                    </select>
                                          
				</div>
		</div>
        
       
        <div id="showotherparameters" style="display:none">
         
         <div class="form-group">
			<label class="col-md-3 control-label">No of Rolling Elements</label>
				<div class="col-md-6">
                    <input type="number" name="n" id="nb" required="True" class="form-control">
					
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Inner Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="inner" id="inner" required="True" class="form-control">
					<span class="input-group-addon">mm/inches </span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Outer Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="outer" id="outer" required="True" class="form-control">
					<span class="input-group-addon">mm/inches </span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Ball Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="bd" id="bd" required="True" class="form-control">
					<span class="input-group-addon">mm/inches</span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Contact Angle</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="text" name="angle" id="angle" required="True" class="form-control">
                    				<span class="input-group-addon">degrees </span>
				</div>
		</div>
       
        {% comment %} <div class="col-md-12 text-center">
           <button type="button"  class="mb-xs mt-xs mr-xs btn btn-primary">Submit</button>
        </div> {% endcomment %}
        </div>
        
         <div class="form-group">                    
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary" onclick="checkfunctionwithtime()"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div> 
        </div>
    </form>
</div>



<div class="panel-body" style="display:none" id="withouttimebfc">
   <form name="form" action="/csvapp/envelop_upload_withouttime/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
     {% csrf_token %} 
        <div class="form-group">
			<label class="col-md-3 control-label" for="inputSuccess">Select Type of Method </label>
			<div class="col-md-6">
				<select class="form-control mb-md" id="algo" name="algo">
					<option value="">Select</option>
                    <option value="hilbtrans">Hilbert Transform</option>
                    <option value="demod">Demodulation</option>
 
			    </select>
												
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-md-3 control-label">CSV File</label>
				<div class="col-md-6">
                    <input type="file" name="file1" id="filewt"  required="True" class="form-control">
				</div>
		</div>
        <div class="form-group">
			<label class="col-md-3 control-label">Sampling Frequency</label>
				<div class="col-md-6">
                    
					<input type="number" step=any name="sampfreq" id="sampfreq" required="True" class="form-control">
				</div>
		</div>
        <div class="form-group">
			<label class="col-md-3 control-label">RPM</label>
				<div class="col-md-6">
                    <input type="number" step=any name="rpm" id="rpm1" required="True" class="form-control">
					
				</div>
		</div>
        <div class="form-group text-left" style="padding-left:200px">
            <input type="checkbox" id="modno" name="modno" value="modno" onchange="toggleCheckboxnotime(this)">
            <label for="modno">Model No</label><br>
            <input type="checkbox" id="dim" name="dim" value="dim" onchange="toggleCheckboxnotime1(this)">
            <label for="dim">Other Dimensions</label><br>
        </div>
        <div class="form-group" id="showmodelno1" style="display:none">
			<label class="col-md-3 control-label">ModelNo:</label>
				<div class="col-md-6">
                    {% comment %} <input type="text" name="modelno" id="modelno1" required="false" class="form-control"> {% endcomment %}
					<select id="modelno1" class="form-control" name="modelno" required="false">
                    <option value="">Select</option>
                    <option value="6205-2RS JEM SKF">6205-2RS JEM SKF</option>
                    <option value="6203-2RS JEM SKF">6203-2RS JEM SKF</option>
                    <option value="Rexnord 2115">Rexnord 2115</option>
                    <option value="61804-2RZ SKF">61804-2RZ SKF</option>
                    <option value="SKF 61804-2Z">SKF 61804-2Z</option>
                    </select>
				</div>
		</div>
        
        
       
        <div id="showotherparameters1" style="display:none">
         <div class="form-group">
			<label class="col-md-3 control-label">No of Rolling Elements</label>
				<div class="col-md-6">
                    <input type="number" name="n" id="nb1" required="True" class="form-control">
					
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Inner Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="inner" id="inner1" required="True" class="form-control">
					<span class="input-group-addon">mm/inches </span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Outer Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="outer" id="outer1" required="True" class="form-control">
					<span class="input-group-addon">mm/inches </span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Ball Diameter</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="bd" id="bd1" required="True" class="form-control">
					<span class="input-group-addon">mm/inches </span>
				</div>
		</div>
         <div class="form-group">
			<label class="col-md-3 control-label">Contact Angle</label>
				<div class="col-md-6 input-group mb-md">
                    <input type="number" step=any name="angle" id="angle1" required="True" class="form-control">
					<span class="input-group-addon">degrees </span>
				</div>
		</div>
        </div>
        <div class="form-group">                    
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary" onclick="checkfunctionwithoutime()"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Submit </button>
            </div> 
        </div>
        {% comment %} <div class="form-group">                    
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary" onclick="getmodel()"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>model </button>
            </div> 
        </div> {% endcomment %}
        {% comment %} <div class="col-md-12 text-center">
           <button type="button"  class="mb-xs mt-xs mr-xs btn btn-primary">Submit</button>
        </div> {% endcomment %}
    </form>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

 
<script>
var api_url = "http://127.0.0.1:8000/csvrestapi/"
//var api_url = "https://cbmapiteal.azurewebsites.net/"
{% if messages %}
        {% for message in messages %}
            
            alert('{{message}}')
        {% endfor %}
    {% endif %}
$('#csvtype').on('change', function() {
      
       var a = $(this).val()
       var b="withtimebfc"
       
       var d="withouttimebfc"
      
       
        if (a==b) {
            
           
           $('#withtimebfc').show();
           $('#withouttimebfc').hide();
          
       }
      
       else if(a==d)
       {
          
           $('#withtimebfc').hide();
           $('#withouttimebfc').show();
          
       }
       
        
})
var obj_csv = {
    size:0,
    dataFile:[]
    
};
var result = [];
function readImage1()
{
    $.ajax({
        url: 'update_session/',
        type: 'POST',
        //data: data,
        contentType: false,
        processData: false,
        success: function (data, status, xhr) {
            //handle success    
            
                    },
        error: function (data, status, xhr) {
            //handle error
            alert(data)
        }

    });
}

function readImage(input) {
    
 if (input.files && input.files[0]) {
 let reader = new FileReader();
        reader.readAsBinaryString(input.files[0]);
 reader.onload = function (e) {
 
 obj_csv.size = e.total;
 obj_csv.dataFile = e.target.result
            
            parseData(obj_csv.dataFile)
            
 }
 }
}

function parseData(data){
    


    var lines=data.split("\n");

  

  // NOTE: If your columns contain commas in their values, you'll need
  // to deal with those before doing the next step 
  // (you might convert them to &&& or something, then covert them back later)
  // jsfiddle showing the issue https://jsfiddle.net/
  var headers=lines[0].split(",");
    alert(lines.length)
  for(var i=1;i<lines.length;i++){

      var obj = {};
      var currentline=lines[i].split(",");

      for(var j=0;j<headers.length;j++){
          //alert(currentline[j])
          obj[headers[j]] = currentline[j];
      }
    
      result.push(obj);
        
  }
     alert(JSON.stringify(result))
}

function processfile()
{
   var algo=$('#algo').val();
   var rpm=$('#rpm').val();
   
   var nb=$('#nb').val();
   var inner=$('#inner').val();
   var outer=$('#outer').val();
   var bd=$('#bd').val();
   var angle=$('#angle').val();
   var file=$('#filewt')
  
   var flength = file.length;
   alert(flength)
  
alert(JSON.stringify(result))
if(algo == ""||rpm == ""||nb == ""||inner == ""||outer == ""||bd == ""||angle == "")
{
alert("please input all the fields");
return;
}

var data={
    //"filedata":JSON.stringify(result),
    "rpm":rpm,
   
    "nb":nb,
    "inner":inner,
    "outer":outer,
    "bd":bd,
    "angle":angle,
    "csrfmiddlewaretoken": '{{ csrf_token }}',
}
$.ajax({
        url: api_url+'upload_envelopcsvwt/',
        type: 'POST',
        data: data,
        contentType: 'application/json',
        dataType: 'json',
        success: function (data, status, xhr) {
            //handle success    
            alert("success")
                    },
        error: function (data, status, xhr) {
            //handle error
            alert(data)
        }

    });

}
function getmodel(){
 $.ajax({
                url: api_url+'/csvrestapi/getmodelno/',
                type: 'POST',
                //data: data,
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    alert(response.length)
                    //var obj = JSON.parse(response);
                    var s = '<option value="">Select</option>';
                    for (var i = 0; i < response.length; i++) {

                        s += '<option value="' + response[i].ModelNo + '">' + response[i].ModelNo + '</option>';
                    }
                    $("#modelno").html(s);

                },
                error: function (response) {

                }
            }) 

}
function checkfunctionwithtime()
{
    var modelno = $('#modelno').val()
    var nb = $('#nb').val()
    
    if(modelno.length > 0 ){
        
        $("#nb").hide().prop('required',false);
		$("#inner").hide().prop('required',false);
        $("#outer").hide().prop('required',false);
		$("#bd").hide().prop('required',false);
        $("#angle").hide().prop('required',false);
		
	}
    if(nb.length > 0) {
        
       
        $("#modelno").hide().prop('required',false);
    }

    if(modelno.length == "" && nb.length == ""){

        
        $("#nb").hide().prop('required',false);
		$("#inner").hide().prop('required',false);
        $("#outer").hide().prop('required',false);
		$("#bd").hide().prop('required',false);
        $("#angle").hide().prop('required',false);
        $("#modelno").hide().prop('required',false);
    }
   
    
}


function checkfunctionwithoutime()
{
    
    var modelno1 = $('#modelno1').val()
    var nb1 = $('#nb1').val()
    if(modelno1.length>0){

       
	
        $("#nb1").hide().prop('required',false);
		$("#inner1").hide().prop('required',false);
        $("#outer1").hide().prop('required',false);
		$("#bd1").hide().prop('required',false);
        $("#angle1").hide().prop('required',false);
		
	}
    if (nb1.length>0){
        
        
        $("#modelno1").hide().prop('required',false);
    }

    if(modelno1.length == "" && nb1.length == ""){

        
        $("#nb1").hide().prop('required',false);
		$("#inner1").hide().prop('required',false);
        $("#outer1").hide().prop('required',false);
		$("#bd1").hide().prop('required',false);
        $("#angle1").hide().prop('required',false);
        $("#modelno1").hide().prop('required',false);
    }
   
    
}



function toggleCheckbox(element)
{
    
   if(element.checked){

     $('#showmodelno').show()
     $("#modelno").show().prop('required',false);
   }
   else{
       $('#showmodelno').hide()
       $("#modelno").hide().prop('required',false);
   }

}

function toggleCheckbox1(element)
{
    
   if(element.checked){
     $('#showotherparameters').show()
      $("#nb").show().prop('required',false);
		$("#inner").show().prop('required',false);
        $("#outer").show().prop('required',false);
		$("#bd").show().prop('required',false);
        $("#angle").show().prop('required',false);
   }
   else{
       $('#showotherparameters').hide()
       
        $("#nb").hide().prop('required',false);
		$("#inner").hide().prop('required',false);
        $("#outer").hide().prop('required',false);
		$("#bd").hide().prop('required',false);
        $("#angle").hide().prop('required',false);
   }

}


function toggleCheckboxnotime(element)
{
    
   if(element.checked){

     $('#showmodelno1').show()
     $("#modelno1").show().prop('required',false);
   }
   else{
       $('#showmodelno1').hide()
       $("#modelno1").hide().prop('required',false);
   }

}

function toggleCheckboxnotime1(element)
{
    
   if(element.checked){
     $('#showotherparameters1').show()
      $("#nb1").show().prop('required',false);
		$("#inner1").show().prop('required',false);
        $("#outer1").show().prop('required',false);
		$("#bd1").show().prop('required',false);
        $("#angle1").show().prop('required',false);
   }
   else{
       $('#showotherparameters1').hide()
       
        $("#nb1").hide().prop('required',false);
		$("#inner1").hide().prop('required',false);
        $("#outer1").hide().prop('required',false);
		$("#bd1").hide().prop('required',false);
        $("#angle1").hide().prop('required',false);
   }

}

</script>

{%endblock%}